<% name = name_title([botanist.first_name, botanist.middle_name, botanist.last_name], botanist.suffix) %>

<li><a href="#<%= name_id(botanist.first_name, botanist.last_name) %>"><%= name %><span class="botanist-sidebar-years">(<%= botanist.born %> - <%= botanist.died %>)</span></a></li>