		<section class="row contact-section">

			<div class="contact-header">
				<h1 class="shadow">General Contact Information</h1>
			</div>

			<div class="col-md-6">
				<p>The Hortorium Herbarium is housed on the fourth floor of Mann Library on the Cornell University campus. 
					Stop at the Tower Road information booth (marked in blue on map below) for instructions on parking. 
					Once inside Mann Library, look for the Hortorium elevator near the Mannible Cafe. 
					Take the elevator to the fourth floor where you will find the Herbarium in Room 440.</p>
			</div>

			<div class="col-md-5">
				<table class="table">
	        <tbody>
	          <tr>
	            <td>Email:</td>
	            <td><a href="mailto:herbarium@cornell.edu">herbarium@cornell.edu</td>
	          </tr>
	          <tr>
	            <td>Fax:</td>
	            <td>(607) 255-5407</td>
	          </tr>
	          <tr>
	            <td>Location:</td>
	            <td>440 Mann Library Building, Cornell University</td>
	          </tr>
	          <tr>
	            <td>Hours:</td>
	            <td>9 am to 4:30 pm, Monday through Friday</td>
	          </tr>          
	        </tbody>
	      </table>
			</div>		

		</section>