	<div class="col-md-3">
		<div class="thumbnail">
    	<%= image_tag img %>
	    <div class="caption">
	      <h3><%= name %></h3>
	      <p><%= description %></p>
	      <p class="pull-right"><%= link_to "more", link %></p>
	    </div>
    </div>
	</div>