			<div class="col-md-4">
				<div class="contact-header">
					<h3 class="shadow"><%= name %>, <span>Volunteer</span></h3>
				</div>
				<div>
					<%= image_tag img, class: "section-image contact-image" %>
				</div>
			</div>