<div class="container main">
	<div class="row">
		<div class="col-md-3">
			<div class="sidebar affix" id="sidebar-nav">
				<ul class="nav sidenav shadow">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#history">History</a></li>
					<li>
						<a href="#botanists">Botanists</a>
					</li>
						<ul class="nav">
							<%= render partial: 'basics/botanists_sidebar', collection: @botanists, as: :botanist %>																																		
						</ul>					
					
				</ul>
			</div>
		</div>
		
		<div class="col-md-9" data-spy="scroll" data-target="#sidebar-nav" id="about-main">
			<%= render partial: 'basics/about_section', locals: { id: "overview",
																														title: "Overview",
																														img: nil,
																														contents: "The L. H. Bailey Hortorium Herbarium (BH) at Cornell University is one of the largest university-affiliated collections of preserved plant material in North America. It includes Cornell's Wiegand Herbarium (CU), which was merged with BH in 1977. The combined herbaria now number ca. 860,000 (maybe more or maybe less) specimens of algae, bryophytes, and vascular plants." } %>
			<%= render partial: 'basics/about_section', locals: { id: "history",
																														title: "History",
																														img: "history.jpg",
																														contents: "The Hortorium was given to Cornell University by Liberty Hyde Bailey in 1935, including 140,000 herbarium specimens of cultivated and economically important plants from throughout the Western Hemisphere, Europe, and China. The Wiegand Herbarium at Cornell was founded in 1869, and emphasized native and naturalized flora of central New York, the Northeast, other portions of North America, and the Old World. In 1977, the two herbaria were combined into a 660,000-specimen collection, rich in both cultivated and wild material. Since that time, the collection has grown to ca. 860,000 specimens." } %>
			<%= render partial: 'basics/about_section', locals: { id: "botanists",
																														title: "Botanists",
																														img: nil,
																														contents: "Several botanists have been important to the study and collection of wild and cultivated plants that are represented in the BH Herbarium, including those listed on the sidebar." } %>


		</div>
	</div>
</div>