<% provide(:title, 'Bryophyte Collection') %>
<div class="main container transparent">


<h1 class="shadow">The L. H. Bailey Hortorium Bryophyte Collection</h1>
<hr class="featurette-divider">
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "A Valuable Asset. ",
																										 subtitle: "With over 63,000 specimens.",
																										 body: "The Cornell University Bryophyte Collection is an underused collection. With over 63,000 specimens, the collection has much to offer. 
																										 An interesting history surrounds the collection, and it has particularly strong holdings of certain bryophyte groups and various geographical regions. 
																										 Additionally, the bryophyte specimens are complemented by the exquisite original moss illustrations of Georg Roth.",
																										 img: "/assets/palm-collection.jpg" } %>

<hr class="featurette-divider">

	<%= render partial: 'basics/featurette', locals: { right: false,
																										 title: "An Interesting History. ",
																										 subtitle: "Generation after generation.",
																										 body: "The Cornell University Bryophyte Collection began with the purchase of Horace Mann Jr.'s personal herbarium of ca. 15,000 specimens by Andrew Dickson White, Cornell's first President. Shortly after, Cornell naturalists began to collect all types of biotic specimens in order to document the natural history of the Ithaca area. Of course, this included algae, mosses, liverworts, lichens, and fungi.",
																										 img: "/assets/sample.jpg" } %>
<hr class="featurette-divider">
	
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "The Bryological Illustrations of Georg Roth. ",
																										 subtitle: "Beautiful and historical.",
																										 body: "A beautiful and historically important part of the collection is a large series of botanical illustrations by Georg Roth. Born in Germany in 1842, Roth studied forestry at Giessen, then worked as a forester until his retirement in 1887. Afterwards he devoted himself to the study and scientific illustration of mosses, rendering ca. 8000 species as highly intricate pen-and-ink drawings for his Die europäischen Laubmoose (1903-1905) and Die europäischen Torfmoose (1906). His attention to detail is demonstrated in every cell, sporophyte, and cross-section he drew. The several hundred illustrations we own include unpublished material.",
																										 img: "/assets/roth1.jpg" } %>
<hr class="featurette-divider">


</div>