<% provide(:title, 'Bryophyte Collection') %>
<div class="main container transparent">

<h1 class="shadow">The L. H. Bailey Hortorium Bryophyte Collection</h1>
<hr class="featurette-divider">
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "First featurette heading. ",
																										 subtitle: "It'll blow your mind.",
																										 body: "Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
																										 Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.",
																										 img: "/assets/palm-collection.jpg" } %>

<hr class="featurette-divider">

	<%= render partial: 'basics/featurette', locals: { right: false,
																										 title: "Second featurette heading. ",
																										 subtitle: "It'll blow your mind again.",
																										 body: "Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
																										 Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.",
																										 img: "palm.jpg" } %>
<hr class="featurette-divider">
	
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "Third featurette heading. ",
																										 subtitle: "To be continued.",
																										 body: "Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
																										 Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.",
																										 img: "/assets/roth1.jpg" } %>
<hr class="featurette-divider">

</div>