<% provide(:title, 'Additional Collections') %>
<div class="main container transparent">


<h1 class="shadow">Additional Collections</h1>
<hr class="featurette-divider">
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "The Gymnosperm Collection ",
																										 subtitle: " ",
																										 body: "The Gymnosperm Collection occupies 37 full cases at BH and consists of about 12000 specimens. Many collections are from cultivated plants in North America and Europe, and have provided the basis for Bailey’s publications in the 1920s and 1930s as well as more recent research by Hortorium staff. Native and cultivated specimens from China, Japan and New Caledonia, and extensive collections made by J. T. Buchholz in the late 1940s are prominent.",
																										 img: "/assets/muller-seal.jpg" } %>

<hr class="featurette-divider">

<div class="temp">
	<%= render partial: 'basics/featurette', locals: { right: false,
																										 title: "Crassulaceae ",
																										 subtitle: " ",
																										 body: "Most of the specimens in this large (7 full cases and over 100 type specimens) collection are from the New World with some important contributions from Japan and Korea.  Sedum is especially strongly represented. Notable collectors are Myron Kimnach, Reid Moran, Charles Uhl and R. T. Clausen.",
																										 img: "/assets/palm-sample.jpg" } %>
</div>

<hr class="featurette-divider">
	
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "Rubus ",
																										 subtitle: " ",
																										 body: "Bailey amassed the bulk of this immense collection of brambles, which occupies 20 full cases. An ambitious sampling of the enormous variability in the genus, this collection includes hundreds of type specimens and has been used as reference material for important works including the Michigan Flora and Flora North America. It is largely North American but contains much material from the entire worldwide range of Rubus.",
																										 img: "/assets/mulleroak.jpg" } %>
<hr class="featurette-divider">


</div>