<div class="container main">

	<div id="homepage-intro">
		<h2>The L. H. Bailey Hortorium Herbarium (BH) at Cornell University is one of the largest university-affiliated collections of preserved plant material in North America.</h2>
	</div>	

	<div class="row" id="resources-row">

		<%= render partial: 'major_resource', locals: { img: "vh.jpg", 
																					 					name: VH, 
																					 					description: "This is Virtual Herbarium.",
																					 					link: LINK_TO_VH } %>

		<%= render partial: 'major_resource', locals: { img: "tcf.JPG",
																										name: TCF,
																										description: "The Tompkins County Flora Project (TCF) documents the occurrence and distribution of the vascular plants of Tompkins County, New York.",
																										link: LINK_TO_TCF } %>
		<%= render partial: 'major_resource', locals: { img: "cupac.jpg",
																										name: CUPAC,
																										description: "CUPAC(Cornell University Plant Anatomy Collection) is an historically important collection of anatomical slide preparations of a wide array of plant parts.",
																										link: LINK_TO_CUPAC } %>
		<%= render partial: 'major_resource', locals: { img: "ps.jpg",
																										name: PS,
																										description: "This is Plant Systematics.",
																										link: LINK_TO_PS } %>

	</div>

</div>