<% provide(:title, 'Muller Oak Collection') %>
<div class="main container transparent">


<h1 class="shadow">Cornelius H. Muller Oak Collection</h1>
<hr class="featurette-divider">
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "A Premier Collection of Fagaceae. ",
																										 subtitle: "With over 22,000 specimens.",
																										 body: "This is the premier collection of Fagaceae (mostly Quercus) in North America, including 10,680 specimens collected and accumulated by Cornelius H. Muller and ca. 12,000 sheets in the Cornell herbaria, making a combined total of over 22,000 specimens. When completely curated, the specimens will be organized geographically.",
																										 img: "/assets/muller-seal.jpg" } %>

<hr class="featurette-divider">

<div class="temp">
	<%= render partial: 'basics/featurette', locals: { right: false,
																										 title: "Cornelius H. Muller ",
																										 subtitle: "(1909 - 1997)",
																										 body: "Cornelius H. Muller was born on July 22, 1909 in Collinsville, Illinois. He attended the University of Texas and received a bachelor's degree in 1932 and a master's degree in 1933. While at the University of Texas, Muller was also an assistant in botany from 1929-1933. He then left Texas to take a similar position at the University of Illinois. It was there that Muller was granted a doctorate degree in 1938. He then accepted a position as Ecologist for the Illinois State Natural History Survey. In 1945, Muller was offered a position as Assistant Professor of Science at Santa Barbara College. After being made Assistant Professor of Botany in 1948, Muller went on to become Full Professor in 1956.",
																										 img: "/assets/CMuller.jpg" } %>
</div>

<hr class="featurette-divider">
	
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "A Recognized Authority. ",
																										 subtitle: "With a prolific collecting.",
																										 body: "Among others of his time, Muller played a pivotal role in the development of the field of plant ecology. His investigations offered new insights into plant interactions and distributions. Years of field work and publications culminated in 1975 when he was selected as Eminent Ecologist, the highest honor bestowed by the Ecological Society of America.
																											 After developing an early interest in oaks, Muller made several trips to Mexico and Central America. His lifelong work on oaks gave him the distinction of being the internationally recognized authority on Quercus. His collecting was prolific and he accumulated a sizable herbarium of oak specimens. That collection is now housed at BH.",
																										 img: "/assets/mulleroak.jpg" } %>
<hr class="featurette-divider">


</div>