<% provide(:title, 'Palm Collection') %>
<div class="main container transparent">


<h1 class="shadow">The L. H. Bailey Hortorium Palm Collection</h1>
<hr class="featurette-divider">
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "Continent's Largest Palm Herbarium. ",
																										 subtitle: "With over 60,000 specimens.",
																										 body: "The L. H. Bailey Hortorium's 60,000 specimen palm collection is one of the two largest and most representative in the world (All genera are represented by at least one specimen). The collection houses hundreds of type specimens, and includes an extensive palm reference library. A special feature of the collection is its liquid-preserved material of flowers, fruits, seeds, wood, and leaves, which is the largest of its kind. It also includes 25,000 anatomical slides of palms prepared by Natalie W. Uhl, and a collection of 410 color transparencies of living palms donated by Walter H. Hodge.",
																										 img: "/assets/palm-collection.jpg" } %>

<hr class="featurette-divider">

<div class="temp">
	<%= render partial: 'basics/featurette', locals: { right: false,
																										 title: "Development of the collection. ",
																										 subtitle: "Generation after generation.",
																										 body: "The collection originated with L. H. Bailey's personal interest in palms, and was enhanced by Harold E. Moore, Jr., an authority on palms and a member of the Hortorium faculty from 1947-1980. He personally collected palms in all areas of the tropics, and also received many specimens as gifts for identification or on exchange that were added to the collection. Natalie W. Uhl, a member of the Hortorium since 1963, continues to work on the family, and was an Associate Editor of Palms (formerly Principes), Journal of the International Palm Society. The liquid-preserved specimens were mostly collected by Dr. Moore for anatomical studies by Natalie Uhl and others, and for generic plates prepared by the late Marion Ruff Sheehan. Frequent postdocs and visitors continue palm studies and add to the collection. Specimens regularly arrive as gifts or exchanges as well.",
																										 img: "/assets/palm-sample.jpg" } %>
</div>

<hr class="featurette-divider">
	
	<%= render partial: 'basics/featurette', locals: { right: true,
																										 title: "A valuable collection. ",
																										 subtitle: "Phylogenetically arranged by genus.",
																										 body: "The Palm collection is phylogenetically arranged by genus in 170 cases, following the arrangement in Genera Palmarum, a detailed systematic treatment of palms begun by Dr. Moore and completed after his death by Natalie Uhl and John Dransfield, palm specialist at the Royal Botanic Gardens, Kew.",
																										 img: "/assets/roth1.jpg" } %>
<hr class="featurette-divider">


</div>	