// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// define colors:
$semi-transparent-white: rgba(255,255,255,0.7);

//universal
body {
	background: url(/assets/sky.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
	height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto 0;
  padding: 0 0 60px;
}

footer {
	a {
		color: black;
	}
	padding: 10px 0 10px 0;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
}


.main {
	margin-top: 150px;
}


.shadow {
	text-shadow: 0 1px 0 #fff;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px;
}

.transparent {
	background-color: $semi-transparent-white;
}

// top navbar

.navbar .nav {
	margin-top: 35px; 
}

.logo {
	height: 60px;
}

#cornell-logo {
	padding-right: 0;
}

// homepage
#homepage-intro {
	color: ghostwhite;
	h2 {
		text-align: justify;
	}
}

#resources-row {
	margin-top: 80px;
}

.thumbnail {
	height: 570px;
	text-align: center;
	border-radius: 0;
	.caption {
		text-align: left;
	}
	h3 {
		font-size: 20px;
	}
	img {
		width: 245px;
		height: 369px;
	}
}


// about page

// about-sidebar
.sidebar {
	padding-bottom: 10px;
}

.sidebar .nav .nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}

.botanist-sidebar-years {
	padding-left: 5px;
}

li.active {
	background-color: ghostwhite;
}


// about-main
#about-main {
	overflow: auto;
}

.about-section {
	padding: 20px;
	overflow: auto;
}

.section-header {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}

.section-contents:first-letter {
	text-transform: uppercase;
	font-size: 45px;
	float: left;
	margin-right: 5px;
	line-height: 0.9;
}

.section-image {
	float: left;
	margin-right: 10px;
}

ul#botanists-list {
	padding-left: 0;
	list-style-type: none;
	li:first-child {
		margin-top: 60px;
	}
}

.botanist {
	margin-bottom: 60px;
}

.botanist-header {
	margin-bottom: 20px;
	h2 {
		font-size: 22px;
	}
}

.botanist-header-span {
	font-weight: bold;
}

.botanist-info {
	margin-bottom: 25px;
}

.botanist-image {
	width: 155px;
	height: 230px;
}

.botanist-resources {
	list-style-type: none;
	padding-left: 0;
}

// contact page
#contact-container {
	width: 75%;
	margin: 0 auto 0;
}

.contact-section {
	margin: 0 auto;
	padding: 20px;
	border-bottom: 1px solid #eeeeee;
	h1 {
		margin: 0 0 20px 0;
	}
	.contact-image {
		width: 130px;
		height: 130px;
	}
}

#LBailey {
	padding-top: 100px;
	margin-top: -100px;
}

// collection page
.featurette-image {
	width: 400px;
	height: 400px;
}

.temp {
	.featurette-image {
		width: 250px;
		height: inherit;
	}
}







