// Place all the styles related to the basics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url(/assets/cloudy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
	margin-top: 150px;
}

.navbar.transparent {
	background-color: rgba(255,255,255,0.7);
}

.navbar .nav {
	margin-top: 35px; 
	li > a{
  	text-shadow: 0 1px 0 #fff;
	}
}

.logo {
	height: 60px;
}

#homepage-intro {
	h2 {
		color: ghostwhite;
	}
}

#resources-row {
	margin-top: 80px;
}

.thumbnail {
	background-color: rgba(255,255,255,0.7);
	height: 570px;
	text-align: center;
	.caption {
		text-align: left;
	}
	h3 {
		font-size: 20px;
	}
	img {
		width: 245px;
		height: 369px;
	}
}


//about page
.sidebar {
	background-color: rgba(255,255,255,0.7);
	padding-bottom: 10px;
}

#about-main {
	background-color: rgba(255,255,255,0.7);
	overflow: auto;
	//height: 200px;
}

.about-section {
	padding: 20px;
	overflow: auto;
}

.section-header {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
	h1 {
		font-size: 30px;
		text-shadow: 0 1px 0 #fff;
	}
}

.section-contents:first-letter {
	text-transform: uppercase;
	font-size: 45px;
	float: left;
	margin-right: 5px;
	line-height: 0.9;
}

.section-image {
	float: left;
	margin-right: 10px;
}


h2 {
	font-size: 22px;
}

.botanist {
	margin-bottom: 30px;
}

.botanist-image {
	width: 155px;
	height: 230px;
}

.sidebar .nav .nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}

.botanist-sidebar-years {
	padding-left: 5px;
}









