              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hortorium <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Bailey Hortorium", "http://plantbio.cornell.edu/cals/plbio/hortorium/index.cfm" %></li>
                  <li><%= link_to "Hortorium Library", "http://plantbio.cornell.edu/cals/plbio/hortorium/bhortlibr.cfm" %></li>
                </ul>
              </li>