              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Palm Collection", "http://bhort.bh.cornell.edu/newherb/palms.html" %></li>
                  <li><%= link_to "Bryophyte Collection", "http://bhort.bh.cornell.edu/newherb/bryophyte.html" %></li>
                  <li><%= link_to "Muller Oak Collection", "http://bhort.bh.cornell.edu/newherb/oaks.html" %></li>
                </ul>
              </li>