<footer class="footer">
	<p>Copyright © 1999-2013</p>
	<address>
		<strong>L. H. Bailey Hortorium, 412 Mann Library Bldg.<br />
		Cornell University, Ithaca, NY 14853</strong><br />
		<a href="mailto:herbarium@cornell.edu">herbarium@cornell.edu</a>
	</address>
</footer>